*venv-env/
*.idea/
.pythonrc
.vscode
# ignoring any 'bin' directory on a git project -> just bin/ will ignore all bin dir in current and subdir.
.ipynb_checkpoints/
__pycache__/
advanced_usage/.mypy_cache/
.DS_Store
ML/Categolization/News/Play/core/
ML/Categolization/News/Play/data/
ML/Categolization/News/Play/log/
ML/Categolization/News/data/
